<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734613479921-v8uogj0pt8p88h2agbtrv8pgpibm9pf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734613479921-v8uogj0pt8p88h2agbtrv8pgpibm9pf0</string>
	<key>API_KEY</key>
	<string>AIzaSyBwTZykqc48o-mjllsc1pfMATSi7OmAN7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>734613479921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petopia</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-56215</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-56215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734613479921:ios:24359cb490e7b187872450</string>
</dict>
</plist>